html,
body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-group,
.answer-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
}

.message {
    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.message-input {
    width: 95%;
}

.send-button {
    width: 30%;
    margin-top: 20px;
    height: 40px;
}

.backward-button {
    margin-top: 50px;
    text-decoration: underline;
    border: 0;
    background: 0;
    padding: 0;
}

.send-button:hover,
.backward-button:active {
    color: red;
}
